
<div class="row">
    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-6 col-xs-12">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Filter by name or email..." aria-label="Search">
        </form>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-5 col-sm-6 col-xs-12">
        <!-- <button class="btn btn-add">
            <i class="bi bi-plus"></i>
            Add new staff
        </button> -->

        <button class="btn btn-table">
            <img src="assets/images/icons/settings2.svg" alt="">
        </button>
        <button class="btn btn-table">
            <img src="assets/images/icons/pdf.svg" alt="">
        </button>
        <button class="btn btn-table">
            <img src="assets/images/icons/download.svg" alt="">
        </button>
        
    </div>
</div>
<br>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" name="" id="">
                </th>
                <th>Customer</th>
                <th>Phone</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">
                    <input type="checkbox" name="" id="">
                </td>
                <td class="align-middle">
                    <img src="assets/images/bookfons/user-found-1.png" class="avatar" alt="">
                    <label for="" class="td-name">Mario Harrinson</label><br>
                </td>
                <td class="align-middle">
                    <label for="">1584587825</label>
                </td>
                <td class="align-middle">
                    <button class="btn btn-table">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                    <button class="btn btn-table">
                        <i class="bi bi-envelope-at-fill"></i>
                    </button>
                    <button class="btn btn-table">
                        <i class="bi bi-envelope"></i>
                    </button>
                    <button class="btn btn-table">
                        <i class="bi bi-key-fill"></i>
                    </button>
                    <button class="btn btn-table">
                        <i class="bi bi-people-fill"></i>
                    </button>
                    <button class="btn btn-table">
                        <i class="bi bi-calendar2-week-fill"></i>
                    </button>
                    <button class="btn btn-table">
                        <i class="bi bi-wallet2"></i>
                    </button>
                    <button class="btn btn-table">
                        <i class="bi bi-toggle-on"></i>
                        <!-- <i class="bi bi-toggle-off"></i> -->
                    </button>
                    <button class="btn btn-table">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>