<div class="container">
    <div class="col-12">
        <button class="btn btn-add ">
            <i class="bi bi-plus"></i>
            Add new Sub-Categories
        </button>
    </div>
    <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th  class="align-middle text-center">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="align-middle">
                      <div class="ms-3">
                          <label for="" class="td-name">Baseball</label>
                      </div>
                  </td>
                  <td class="align-middle">
                    <div class="ms-3">
                        <label for="" class="td-name">La mejor jugada del mundo</label>
                    </div>
                </td>
                <td class="align-middle text-center">
                  <button class="btn btn-sm btn-ng-primary" >
                      <i class="bi bi-pencil-square"></i>
                  </button>
                  <button class="btn btn-sm ms-2 btn-ng-danger">
                      <i class="bi bi-trash-fill"></i>
                  </button>
                  <button class="btn btn-sm ms-2 btn-ng-primary">
                      <i class="bi bi-eye"></i>
                  </button>
              </td>
              </tr>
              <tr>
                <td class="align-middle">
                    <div class="ms-3">
                        <label for="" class="td-name">Baseball</label>
                    </div>
                </td>
                <td class="align-middle">
                  <div class="ms-3">
                      <label for="" class="td-name">La mejor jugada del mundo</label>
                  </div>
              </td>
              <td class="align-middle text-center">
                <button class="btn btn-sm btn-ng-primary" >
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-sm ms-2 btn-ng-danger">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button class="btn btn-sm ms-2 btn-ng-primary">
                    <i class="bi bi-eye"></i>
                </button>
            </td>
            </tr>
            <tr>
              <td class="align-middle">
                  <div class="ms-3">
                      <label for="" class="td-name">Baseball</label>
                  </div>
              </td>
              <td class="align-middle">
                <div class="ms-3">
                    <label for="" class="td-name">La mejor jugada del mundo</label>
                </div>
            </td>
            <td class="align-middle text-center">
              <button class="btn btn-sm btn-ng-primary" >
                  <i class="bi bi-pencil-square"></i>
              </button>
              <button class="btn btn-sm ms-2 btn-ng-danger">
                  <i class="bi bi-trash-fill"></i>
              </button>
              <button class="btn btn-sm ms-2 btn-ng-primary">
                  <i class="bi bi-eye"></i>
              </button>
          </td>
          </tr>
          </tbody>
      </table>
  </div>
  </div>
