
<section>
    
    <div class="imgBox">
        <img src="assets/images/bookfons/bg-login.jpg" alt="lg.png">
    </div>
    <div class="contentBx">
        <div class="logo">
            <img src="assets/images/bookfons/bookfon.png" alt="logo.png">
        </div>

        <form action="" [formGroup]="loginForm" (ngSubmit)="submit()">
            <!-- Forms STEP 1-->
            <div class="formBx" *ngIf="step1">
                <div class="headerBx">
                    <h5>
                        Sign in
                    </h5>
                    <p>Select which Account you want to use to Access Bookfon.</p>
                </div>
                <div class="bodyBx">

                    <div class="itemBx">
                        <img src="assets/images/bookfons/user-found-1.png" alt="">
                        <!-- <label for="">charlesjhonson@mail.test</label> -->
                        <input type="email" class="input-email" placeholder="mail@mail.com" value=""
                                formControlName="email"><br>
                        <span *ngIf="validInput('email')" class="text-danger mt-2">
                            Invalid email
                        </span>
                        <span *ngIf="validEmail('email')" class="text-danger mt-2">
                            Invalid email
                        </span>
                    </div>

                    <button class="btn btn-primary" type="button" (click)="nextStep2()" style="margin-left: 7%;">
                        SIGN IN
                    </button>

                    <p>
                        By selecting account you agree to our <a href="#">Terms</a> 
                        <br>
                        and have read and acknowledge our <a href="#">Global Privacy Statement</a>
                    </p>
                </div>

                <!-- <div class="otherBx">
                    <img src="assets/images/bookfons/user-found-2.png" alt="">
                    <label for="">Use a different user ID</label>
                    <i class="bi bi-chevron-right"></i>
                </div> -->

                <div class="footerBx">
                    <p>
                        New the bookfon? <a [routerLink]="'/auth/create-account'">Create an account</a>
                    </p>

                    <div class="divGrays">
                        Invisible reCAPTCHA by Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>
                    </div>
                </div>
            </div>
            <!-- Forms STEP 2-->
            <div class="formBx" *ngIf="step2">
                <div class="headerBx">
                    <h5>Let's make sure you're you</h5>
                    <p>
                        Choose how you want to verify your identity
                        <br><a href="#">Learn more</a>
                    </p>
                
                </div>
                
                <div class="bodyBx">
                    <div class="itemBx2" style="cursor: pointer;" (click)="nextStep3(1)">
                        <img src="assets/images/icons/padlock.svg" class="icons" alt="">
                        <label for="">Enter password</label>
                    </div>
                    <!-- <div class="itemBx2" style="cursor: pointer;" (click)="nextStep3(2)">
                        <img src="assets/images/icons/email.svg" class="icons" alt="">
                        <label for="">Text a code</label><br>
                        <label for="" class="text-item">***********79</label>
                    </div>
                    <div class="itemBx2" style="cursor: pointer;" (click)="nextStep3(3)">
                        <img src="assets/images/icons/sms.svg" class="icons" alt="">
                        <label for="">Email code</label><br>
                        <label for="" class="text-item">
                            {{ (loginForm.get('email')?.value !== '') ? loginForm.get('email')?.value : '******@***' }}
                        </label>
                    </div> -->
                    <div class="itemBx2" (click)="nextStep3(1)">
                        <a href="#">Contact Customer support</a>
                    </div>
                </div>
            </div>
            <!-- Forms STEP 3-->
            <div class="formBx" *ngIf="step3">
                <div class="headerBx">
                    <h5>Welcomme back!</h5>
                    <p>
                        Choose how to sign in to
                        <br><span>{{ (loginForm.get('email')?.value !== '') ? loginForm.get('email')?.value : 'charlesjhonson@mail.test' }}</span>
                        <br><br>
                        <a (click)="backStep2()" style="cursor: pointer;">Use a different number</a>
                    </p>
                
                </div>
                
                <div class="bodyBx">
                    <div class="itemBx3">
                        
                        <label for="" class="label-pass">Password</label>
                        <input type="password" class="form-control input-pass" placeholder="********" value=""
                            [class.is-invalid]="validInput('password')" formControlName="password">
                        <span *ngIf="validInput('password')" class="text-danger mt-2">
                            Campo requerido.
                        </span>
                        <span *ngIf="validInputMin('password')" class="text-danger mt-2">
                            Mínimo 6 caracteres.
                        </span>
                        <button class="btn btn-primary" type="submit">
                            CONTINUE
                        </button>
                
                    </div>
                    <br>
                    <div class="itemBx3">
                        
                        <label for="" class="label-or">OR</label>
                        <br>
                        <input type="text" class="form-control input-code" 
                            placeholder="Tex a code to (****)******** {{ (loginForm.get('codePhone')?.value !== '') ? (loginForm.get('codePhone')?.value | slice:-2) : '' }}" 
                            formControlName="codePhone" [class.is-invalid]="validInput('codePhone')">
                    
                        <br><br>
                        <a class="item-link" style="cursor: pointer;" (click)="backStep2()">Sign in a different way</a>
                        <br><br>
                    </div>
                </div>
            </div>
            <!-- Forms STEP 4-->
            <div class="formBx" *ngIf="step4">
                <div class="headerBx">
                    <h5>Check your phone</h5>
                    <p>
                        Enter the 5-digit code we just sent to
                        <br><span>**************</span>
                        <br><br>
                        <a href="#">Callme instead</a>
                    </p>
                
                </div>
                
                <div class="bodyBx">
                    <div class="itemBx3">
                        <img src="assets/images/icons/sms-check.svg" alt="">
                
                        <br>
                        <label for="">Verification code</label>
                
                        <!-- <h5>005897</h5> -->
                        <input type="text" class="form-control input-code2" placeholder="0005897"
                                formControlName="codePhone"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"><br>
                        <span *ngIf="validInput('codePhone')" class="text-danger mt-2">
                            Campo requerido.
                        </span>
                        <span *ngIf="validInputMin('codePhone')" class="text-danger mt-2">
                            Mínimo 6 carácteres.
                        </span>
                        <span *ngIf="validInputMax('codePhone')" class="text-danger mt-2">
                            Maxímo 6 carácteres.
                        </span>
                
                        <button class="btn btn-primary" type="submit">
                            CONTINUE
                        </button>
                
                        <br><br>
                        <a (click)="backStep2()" class="item-link">I didn't get a text message</a>
                        <br><br>
                    </div>
                
                </div>
            </div>
            
            <!-- Forms STEP 5-->
            <div class="formBx" *ngIf="step5">
                <div class="headerBx">
                    <h5>Check your mail</h5>
                    <p>
                        Enter the 5-digit code we just sent to
                        <br><span>
                            {{ (loginForm.get('email')?.value !== '') ? loginForm.get('email')?.value : '' }}
                        </span>
                        <br><br>
                        <a  (click)="backStep2()" style="cursor: pointer;">Use a different method</a>
                    </p>
                
                </div>
                
                <div class="bodyBx">
                    <div class="itemBx3">
                        <img src="assets/images/icons/email-check.svg" alt="">
                
                        <br>
                        <label for="">Verification code</label>
                
                        <!-- <h5>005897</h5> -->
                        <input type="email" class="input-code2" placeholder="010101" value=""
                                formControlName="codeMail" 
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"><br>
                        <span *ngIf="validInput('codeMail')" class="text-danger mt-2">
                            Campo requerido.
                        </span>
                        <span *ngIf="validInputMin('codeMail')" class="text-danger mt-2">
                            Mínimo 6 carácteres.
                        </span>
                        <span *ngIf="validInputMax('codeMail')" class="text-danger mt-2">
                            Maxímo 6 carácteres.
                        </span>
                
                        <button class="btn btn-primary" type="submit">
                            CONTINUE
                        </button>
                
                        <br><br>
                        <a (click)="backStep2()" style="cursor: pointer;" class="item-link">I did not receive an email message</a>
                        <br><br>
                    </div>
                
                </div>
            </div>
            <!-- Forms STEP 6-->
            <div class="formBx" *ngIf="step6">
                <div class="headerBx">
                    <h5>Select one of your businesses</h5>
                
                </div>
                
                <div class="bodyBx">
                    <div class="itemBx3" *ngFor="let item of businessList; let i = index;">
                        
                        <div class="item-account" (click)="nextHome(item)" style="cursor: pointer;">
                            <img src="assets/images/icons/house.svg" alt="">
                            <label for="">{{ item.name }}</label>
                            <i class="bi bi-chevron-right"></i>
                        </div>
                        <!-- <div class="item-account">
                            <img src="assets/images/icons/account.png" alt="">
                            <label for="">Orange Theory</label>
                            <i class="bi bi-chevron-right"></i>
                        </div> -->
                        
                    </div>
                    <div class="itemBx3">
                        <br>
                        <!-- <button class="btn btn-primary" style="margin-bottom: 40px;" type="button" (click)="createBusiness()">
                            <i class="bi bi-plus-lg"></i>
                            CREATE A NEW BUSINESS
                        </button> -->
                    </div>
                </div>
            </div>
        </form>
        
        <div class="footer-book">
            <label for="">bookfon, All Rights Reserved.</label>
        </div>
    </div>
</section>
