<div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="messageForm">
            <div class="col-12">
                <label class="small mb-1" for="inputPassword">Phone Number<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""
                       mask="(000) 000-0000" formControlName="phone" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                <span *ngIf="validInput('phone')" class="text-danger mt-2">
                    Required field
                </span>
                <span *ngIf="validInputMin('phone')" class="text-danger mt-2">
                    Phone number must be 10 digits
                </span>
                <span *ngIf="validInputMax('phone')" class="text-danger mt-2">
                    Phone number must be 10 digits
                </span>
            </div>
            <div class="col-12 mt-2">
                <label class="small mb-1" for="inputPasswordVerify">Message<span class="text-danger">*</span></label>
                <div class="input-group mb-3">
                    <textarea class="form-control" rows="6" 
                        formControlName="message" [class.is-invalid]="validInput('message')" autocomplete="off">
                    </textarea>
                </div>
            </div>
            <div class="mt-4 mb-0 text-center">
                <button class="btn btn-primary"
                    [disabled]="messageForm.invalid">
                    Save
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>