
 <div class="card">
    <div class="card-body">

        <h6>Login Service</h6>
        <p>Connect an external login service to quickly and securely Access you Bookfon ID.</p>
        <button class="btn btn-add-service">
            <i class="bi bi-plus"></i>
            Add more services
        </button>
        <br>
        <li>
            <img src="assets/images/icons/apple-logo.svg" alt="">
            <a href="#">
               Connect to Apple
            </a>
        </li>
        <li>
            <img src="assets/images/icons/facebook.svg" alt="">
            <a href="#">
               Connect to Facebook
            </a>
        </li>
        <li>
            <img src="assets/images/icons/google.svg" alt="">
            <a href="#">
               Connect to Google
            </a>
        </li>

        <li>
            <h6>Preferred language</h6>
            <p>When you're logged in to Bookfon, this is the Language you Will see. It doesn't affect the Language your customers see on your business.</p>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="English">
                </div>
            </div>
        </li>

        <li>
            <h6>Regional Format</h6>
            <p>Your number, time, date, currency formats are set for American English. <a href="#">Change regional format.</a></p>
        </li>

        <li>
            <h6>Time zone</h6>
            <p>This is the timezone for your account. To set the timezone for you Bookfon admin, go to the General section in <a href="#">Settings.</a></p>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="(GMT-05:00) Estarn Time (US & Canada)">
        </li>
        <br>
        <h6>Store</h6>
        <p>View and Access stores connected to your Bookfon ID.</p>
        <button class="btn btn-primary btn-save">
            View all stores
        </button>
    </div>
</div>