
.content {
    .container-sub {
        margin: auto;
        width: 80%;

        table {
            color: #393939;
            background: #fff;
            i{
                color: black;
            }
            
            tbody {
                font-size: 12px;
        
                tr .td-name {
                    margin-left: 8px;
                }
                tr .td-email {
                    margin-left: 46px;
                    position: absolute;
                    margin-top: -12px;
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .content {
        .container-sub {
            margin: auto;
            width: 90%;
        }
    }
}

.modal-title {
    color: #53504E;
}

label {
    font-size: 12px;
    letter-spacing: 0px;
    color: #53504E;
    opacity: 1;
}
input{
    font-size: 12px;
}