
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" style="color: #848383;">{{title}}</h5>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="m-3">
          <form (ngSubmit)="onSubmit()" [formGroup]="SubCategoryadd">
            <input type="hidden" name="id" formControlName="id">
            <div class="row m-5">
               <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="mb-3">
                  <label class="small mb-1" for="inputName">Name Sub-Category: <span class="text-danger">*</span></label>
                  <input class="form-control mb-2" id="inputtName" type="text" placeholder="Name Sub-Category"
                      formControlName="name" [class.is-invalid]="validInput('name')" />
                  <span *ngIf="validInput('name')" class="text-danger mt-2">
                      Campo requerido.
                  </span>
              </div>
              <div class="mb-3">
                <label class="small mb-1" for="inputdescription">Descripcion:</label>
                <textarea class="form-control mb-2" id="inputdescription" type="text" placeholder="Description"s
                    formControlName="description" > </textarea>
                <!-- <span *ngIf="validInput('description')" class="text-danger mt-2">
                    Campo requerido.
                </span> -->
            </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12" style="text-align: center;
                                                                                 position: absolute;
                                                                                  bottom: 0;
                                                                                  right: 0;
                                                                                  margin-bottom: 75px;" >
                 <button  class="btn btn-success" type="button" [disabled]="SubCategoryadd.invalid" (click)="addSubCategories()" *ngIf="butonFalse">Save and add more</button> <br><br>
                 <button class="btn btn-primary" type="submit" [disabled]="SubCategoryadd.invalid">Save Sub-Categories</button>
               </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>



