<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle" style="display: flex;">
                    <img src="assets/images/bookfons/user-found-1.png" class="avatar m-2" >
                    <div class="ms-3">
                        <label for="" class="td-name">Yoga Lesson</label><br>
                       <label for="" class="td-Price">$180.00 USD</label>
                    </div>
                </td>
                <td class="align-middle">
                    <label for="">Nov 23</label>
                </td>
                <td class="align-middle">
                    <label for="">Dec 13</label>
                </td>
            </tr>
            <tr>
                <td class="align-middle" style="display: flex;">
                    <img src="assets/images/bookfons/user-found-1.png" class="avatar m-2" >
                    <div class="ms-3">
                        <label for="" class="td-name">Yoga Lesson</label><br>
                       <label for="" class="td-Price">$180.00 USD</label>
                    </div>
                </td>
                <td class="align-middle">
                    <label for="">Nov 23</label>
                </td>
                <td class="align-middle">
                    <label for="">Dec 13</label>
                </td>
            </tr>
            <tr>
                <td class="align-middle" style="display: flex;">
                    <img src="assets/images/bookfons/user-found-1.png" class="avatar m-2" >
                    <div class="ms-3">
                        <label for="" class="td-name">Yoga Lesson</label><br>
                       <label for="" class="td-Price">$180.00 USD</label>
                    </div>
                </td>
                <td class="align-middle">
                    <label for="">Nov 23</label>
                </td>
                <td class="align-middle">
                    <label for="">Dec 13</label>
                </td>
            </tr>
        </tbody>
    </table>
</div>