<div class="card">
    <div class="row">
       <form (ngSubmit)="onSubmit()" [formGroup]="ServiceaddStaffFomr">
       <div class="col-xl-12 col-m-12 m-4">
           <label class="small mb-1" for="inputibrachoffices" style="color: rgb(144, 144, 144) ;">Category <span class="text-danger">*</span></label>
           <div class="mb-3">
             <ng-select #BusinessSelect [items]="ServiceData" [selectOnTab]="true" [multiple]="true"
                 bindValue="id" bindLabel="name" placeholder="select a service" formControlName="id" style="width: 80%;">
             </ng-select>
             <!--
             <button type="button" class="ms-2 text-primary" style="width: 70%; background-color: rgba(255, 248, 220, 0); border: 0;
             font-weight: 600; font-size: 12px;" >+ Add more services</button> (click)="showModalCategoriesAdd(true)"-->
           </div>
       </div>
         <div class="col-xl-12 col-m-12 m-4">
            <button class="btn btn-primary" type="submit" [disabled]="ServiceaddStaffFomr.invalid" style="width: 117px;">Save</button>
        </div>
   </form>
    </div>
</div>