<div class="mb-3 mt-3">
    <div class="row">
        <div class="col-md-6">
            <label>Service</label>
            <div class="input-group">
                <input type="text" class="form-control" aria-label="">
                <span style="cursor:pointer" class="input-group-text"><i class="bi bi-search"></i></span>
              </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mt-3">
                <a href="#" class="text-decoration-none mt-2">+ Add more service</a>
              </div>
        </div>
    </div>
</div>