<div class="w-100 mb-3">
  <app-full-calendar  [showCustomButton]="false" *ngIf="loadingEvents" [events]="events" (refreshEventEmitter)="refreshEventEmitter($event)"
    (dateClickEventEmitter)="dateClickEventEmitter($event)" (dropEventEmitter)="dropEventEmitter($event)"
    (resizeEventEmitter)="resizeEventEmitter($event)" (clickEventEmitter)="clickEventEmitter($event)">
  </app-full-calendar>
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-dark mt-3" role="status" *ngIf="!loadingEvents">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>


<!-- modal event -->
<div class="modal fade" id="modalPopUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h6 class="modal-title">
          Event Details
        </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group d-flex justify-content-center">
              <img class="mb-2" style="width:60px" src="assets/images/user.png"  alt="Avatar" class="avatar">
            </div>

          </div>
          <div class="col-md-12">
            <span class="d-block text-black" style="text-align: center;">
              <label class="form-label bm-1" style="font-weight: 700">{{itemSelected?.title}}</label>
            </span>
            <span class="d-block text-black mt-3" style="text-align: left;">
              <label class="form-label"><span style="font-weight:700">Date:</span>{{itemSelected?.start}} - {{itemSelected?.end}}</label>
            </span>
            <span class="d-block text-black" style="text-align: left;">
              <label class="form-label"><span style="font-weight:700">Time:</span>{{itemSelected?.time?.startTime}} - {{itemSelected?.time?.endTime}}</label>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
