<div class="card-content">
    <h5>Tax details</h5>

    <p>
        We need to collect this information so we can submit accurate tax reports. 
    </p>
    <p>
        Updating this information may introduce new account requirements, listed on your business information page. You will have a 7-day grace period during which account functionality remains the same. To prevent disabled charges or payouts, you must resolve all requirements by the end of the grace period.
    </p>
    <div class="row">
        <div class="mb-3 col-xl-7 col-lg-7 col-md-7 col-sm-8 col-xs-12">
            <label for="exampleFormControlInput1" class="form-label">Type of bussines</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Individual, sole propietor, or single-member LLC">
        </div>
    </div>
    
    <ul>
        <li>Individual, sole proprietor, or single-member LLC.</li>
        <li>Individual: Enter your individual legal name and SSN/ITIN.Ç </li>
        <li>Sole Proprietor: Enter your individual legal name and SSN/ITIN (or EIN, if your Sole Prop has one) Single-member LLC (are disregarded as an entity separate from its owner for tax purposes): If owned by an individual enter the owner’s legal individual name and SSN/ITIN (or EIN, if the owner has one). Do not enter the disregarded entity’s EIN.</li>
    </ul>

    <div class="row">
        <div class="mb-3 col-xl-7 col-lg-7 col-md-7 col-sm-8 col-xs-12">
            <label for="exampleFormControlInput1" class="form-label">Legal name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Orange Theory Fitness">
        </div>
        <div class="mb-3 col-xl-5 col-lg-5 col-md-5 col-sm-4 col-xs-12">
            <label for="exampleFormControlInput1" class="form-label">Tax identification number</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="***0254">
        </div>
    </div>
    <hr>

    <label for="exampleFormControlInput1" class="form-label">Sample letter 147C</label>

</div>