<div class="headerBx">
    <h5>Welcome, we're glad you're here!</h5>
    <p>Here's what we'll do together right now</p>
</div>
<div class="bodyBx">
    <div class="itemBx3">
        <img src="assets/images/icons/messenger.svg" class="img-item" alt="">
        <p>Ask us for help whenever you need it, just click on the Support icon inside your Dashboard</p>
    </div>
    <div class="itemBx3">
        <img src="assets/images/icons/uploader.svg" class="img-item" alt="">
        <p>We bring your products and services, customers to bookfon from your actual software. <strong>Free charge.</strong></p>
    </div>
    <div class="itemBx3">
        <img src="assets/images/icons/calendar.svg" class="img-item" alt="">
        <p>Activate your sales channels and value-added marketing services so you can <strong>hit the target.</strong></p>
    
        <button class="btn btn-primary" style="margin-top: 0px; margin-bottom: 20px;">
            START NOW!
        </button>
        <br>
    </div>

</div>