
<section class="module-container">
    <h3 class="title-module">Branding</h3>

    <!-- Tabs -->
    <ul class="nav nav-tabs auto flex-column flex-sm-row" id="myTab" role="tablist">
        <li class="nav-item" role="team-users">
            <button class="nav-link active links" id="home-tab" data-bs-toggle="tab" data-bs-target="#team-users" type="button"
                role="tab" aria-controls="team-users" aria-selected="true"
                >Team users
            </button>
        </li>
        <li class="nav-item" role="your-business">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#your-business" type="button"
                role="tab" aria-controls="your-business" aria-selected="false" (click)="showYourBusiness = true">
                Your business
            </button>
        </li>
        <!-- <li class="nav-item" role="app-marketplace">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#app-marketplace" type="button"
                role="tab" aria-controls="app-marketplace" aria-selected="false">App Marketplace</button>
        </li> -->
    </ul>
    <br>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="team-users" role="tabpanel" aria-labelledby="home-tab">
            <app-tearm-users-list [userList]="users" [businessCode]="identity.businessList[0].code" (onCloseModal)="getUsers()"></app-tearm-users-list>
        </div>
        <div class="tab-pane fade" id="your-business" role="tabpanel" aria-labelledby="home-tab">
            <app-you-bussines *ngIf="showYourBusiness"></app-you-bussines>
        </div>
        <!-- <div class="tab-pane fade" id="app-marketplace" role="tabpanel" aria-labelledby="home-tab">
            <h1>App-marketplace</h1>
        </div> -->
    </div>
</section>
