<div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="rechargeForm">
            <div class="col-12">
                <label class="small mb-1" for="inputPassword">Payment Amount<span class="text-danger">*</span></label>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" placeholder="Enter payment amount"
                        formControlName="incomeAmount" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"/>
                </div>
                <span *ngIf="validInput('incomeAmount')" class="text-danger">
                    Required field
                </span>
            </div>
            <div class="col-12 mt-2">
                <label class="small mb-1" for="inputPasswordVerify">Cash Back Amount</label>
                <div class="input-group mb-3">
                    <input class="form-control"type="text" placeholder="Enter cash back amount" 
                        formControlName="promotionAmount" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"/>
                </div>
            </div>
            
            <div class="mt-4 mb-0 text-center">
                <button class="btn btn-primary">
                    Send
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>