<section class="module-container">
  <h3 class="title-module">Staff</h3>

  <!-- Tabs -->
  <ul class="nav nav-tabs auto mb-3" id="myTab" role="tablist">
    <li class="nav-item col-md-1" role="setting">
      <button (click)="editStaff = false;activeTab=0;newStaff=false" class="nav-link active links" id="home-tab" data-bs-toggle="tab"
        data-bs-target="#setting" type="button" role="tab" aria-controls="setting" aria-selected="true">Settings
      </button>
    </li>
    <li class="nav-item col-md-2" role="all">
      <button (click)="editStaff = false;activeTab=1 ;newStaff=false" class="nav-link" id="profile-tab" data-bs-toggle="tab"
        data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="false">All staff
        {{editStaff ? ' / edit' : (newStaff?'/ Add':'')}}</button>
    </li>
    <div *ngIf="activeTab==1" class="justify-content-end col-md-9">
      <button type="button" class="btn btn-primary float-end m-1"><i class="bi bi-list-ol"></i> Change display
        position</button>
      <button (click)="showScreenNewStaff()"  class="btn btn-add border-dashed-primary float-end m-1" data-bs-toggle="modal" data-bs-target="#newStaffModal">
        <i class="bi bi-plus"></i>
        Add new staff
      </button>
    </div>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="setting" role="tabpanel" aria-labelledby="home-tab">
      <app-settings></app-settings>
    </div>
    <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="home-tab">
      <app-all *ngIf="!editStaff && !newStaff" (selectedStaff)='selectedStaff($event)'></app-all>
      <app-profile *ngIf="editStaff"></app-profile>
      <app-add-staff *ngIf="newStaff"></app-add-staff>
    </div>
  </div>
</section>
