<div class="row" style="margin-left: 0px;">
    <div class="content-1" style="padding-left: 0px !important;">
        <ul class="scroll-menu" style="margin: 0px !important; padding: 0px !important">
            <li *ngFor="let item of scrollOptions; let i = index;" [ngClass]="{'active': item.active}"
                class="menu-item" (click)="changeOptions(item, i)">
                {{ item.title }}
            </li>
        </ul>
    </div>
    
    <div class="content-2">
        <div [ngSwitch]="optionSelected">
            <div *ngSwitchCase="0">
                <app-account></app-account>
            </div>
            <div *ngSwitchCase="1">
                <app-public-details></app-public-details>
            </div>
            <div *ngSwitchCase="2">
                <app-business-details></app-business-details>
            </div>
            <div *ngSwitchCase="3">
                <app-linked-external></app-linked-external>
            </div>
            <div *ngSwitchCase="4">
                <app-bank-account></app-bank-account>
            </div>
            <div *ngSwitchCase="5">
                <app-tax-details></app-tax-details>
            </div>
            <div *ngSwitchCase="6">
                <app-branding></app-branding>
            </div>
            <div *ngSwitchCase="7">
                <app-customers-settings></app-customers-settings>
            </div>
            <div *ngSwitchCase="8">
                <app-staff-settings></app-staff-settings>
            </div>
            <div *ngSwitchCase="9">
                <app-amind-settings></app-amind-settings>
            </div>
            <div *ngSwitchCase="10">
                <app-branches></app-branches>
            </div>
        </div>
    </div>
</div>