<div class="card shadow-sm">
    <div class="row m-5">
         <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4 col-xs-12" style="display: flex;">
            <div class="mb-3" style="width:153px ;">
                <span style="color: #a4a4a4;">Type</span>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Name</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>    
            </div>
            <div class="mb-3 ms-2"  style="width:180px ;">
                <span style="color: #a4a4a4;">Region</span>
                <select class="form-select" aria-label="Default select example">
                    <option selected>All United State</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="mb-3"  style="width:130px ;">
                <div class=" ms-2 ">
                    <span style="color: #a4a4a4;">Rate</span><br>
                    <div class="input-group mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                          </select>  
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2" style="background-color: #F9F9F9; border-left: #F9F9F9;">%</span>
                        </div>
                      </div>
                </div>
            </div>
            <div class="ms-2"  style="width:180px ;">
                <select class="form-select mt-4" aria-label="Default select example">
                    <option selected>Exclusive</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
         </div>
         <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Descriotion" rows="5"></textarea>
          </div>   
       </div>
       <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4 col-xs-12" style="text-align: left; margin-bottom: 5%; margin-left: 5%;">
             <button type="button" class="btn btn-success">Save and add more</button>
             <button type="button" class="btn btn-primary ms-4">Save Tax Rates</button>
       </div>
    </div>
 </div>
   


