.container{

    .row{
      position: absolute;
      top: 50%;
      left: 25%;
        
    label{
        color: #181C33;
        font-size: 20px;
        font-weight: 700;
        margin-top: 15px;
    }

    span{
        color: #696974;
        margin-top: 15px;
    }

    }
}