<div class="content w-100 bg-transparent">
  <div class="card p-2 rounded-3 border-0">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Full name</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Last login</th>
            <th class="d-flex justify-content-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle">
              <img src="assets/images/bookfons/user-found-1.png" class="avatar" alt="">
            </td>
            <td class="align-middle">
              <label for="">Jose Maria Tellez Cajina</label>
            </td>
            <td class="align-middle">
              <label for="">1234567898</label>
            </td>
            <td class="align-middle">
              <button class="btn btn-link m-1"><i class="bi bi-check-circle-fill bg-icon-success"></i></button>
            </td>
            <td class="align-middle">
              <label for="">12/06/22</label>
            </td>
            <td class="d-flex justify-content-center">
              <button (click)="editStaff({id:1,name:'jose cruz'})" class="btn btn-link m-1"><i
                  class="bi bi-pencil-square"></i></button>
              <div class="form-check form-switch">
                <input class="form-check-input mt-3" type="checkbox" id="flexSwitchCheckDefault">
              </div>
              <button class="btn btn-link m-1"><i class="bi bi-key-fill"></i></button>
              <button class="btn btn-link m-1"><i class="bi bi-x-circle-fill"></i></button>
            </td>
          </tr>
          <tr>
            <td class="align-middle">
              <img src="assets/images/bookfons/user-found-1.png" class="avatar" alt="">
            </td>
            <td class="align-middle">
              <label for="">Jose Maria Tellez Cajina</label>
            </td>
            <td class="align-middle">
              <label for="">1234567898</label>
            </td>
            <td class="align-middle">
              <button class="btn btn-link m-1"><i class="bi bi-check-circle-fill bg-icon-success"></i></button>
            </td>
            <td class="align-middle">
              <label for="">12/06/22</label>
            </td>
            <td class="d-flex justify-content-center">
              <button (click)="editStaff({id:2,name:'Carlos Lopez'})" class="btn btn-link m-1"><i
                  class="bi bi-pencil-square"></i></button>
              <div class="form-check form-switch">
                <input class="form-check-input mt-3" type="checkbox" id="flexSwitchCheckDefault">
              </div>
              <button class="btn btn-link m-1"><i class="bi bi-key-fill"></i></button>
              <button class="btn btn-link m-1"><i class="bi bi-x-circle-fill"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
