<div class="content w-100 bg-transparent">
  <div class="card p-2 rounded-3 border-0">
    <div class="table-responsive">
      <table class="table" style="width:100%" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th></th>
            <th>Full name</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Last login</th>
            <th class="d-flex justify-content-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let i = index">
            <td class="align-middle">
              <img [src]="item?.image" appBrokenImagen class="avatar" alt="">
            </td>
            <td class="align-middle">
              <label for="">{{item?.firstName }} {{item?.lastName }}</label>
            </td>
            <td class="align-middle">
              <label for="">{{item?.phone? (item.phone | mask: '(000) 000-0000' ): '' }}</label>
            </td>
            <td class="align-middle">
              <button *ngIf="item.lastLogin" class="btn btn-link m-1"><i class="bi bi-check-circle-fill bg-icon-danger"></i></button>
              <button *ngIf="!item.lastLogin"  class="btn btn-link m-1"><i class="bi bi-check-circle-fill bg-icon-success"></i></button>
            </td>
            <td class="align-middle">
              <label for="">{{ (item?.lastLogin !== null) ? (item.lastLogin | date: 'd/M/yyyy'): ''}}</label>
            </td>
            <td class="d-flex justify-content-center">
              <button (click)="editStaff(item)" class="btn btn-link m-1"><i
                  class="bi bi-pencil-square"></i></button>
              <div class="form-check form-switch">
                <input (click)="openModalChangeStatus(item.id, i)" 
                      class="form-check-input mt-3" 
                      type="checkbox" 
                      id="chechedStatus-{{i}}" [checked]="item?.businessList?.[0]?.enabled">
              </div>
              <button (click)="openModalChangePass(item.id)" class="btn btn-link m-1"><i class="bi bi-key-fill"></i></button>
              <!-- <button (click)="openModalDeleteRecord(item.id)" class="btn btn-link m-1"><i class="bi bi-x-circle-fill"></i></button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- modal confirm change status staff -->
<div class="modal fade" id="confirmChangeStatusModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-modal-delete [btnYes]="'Enabled/Disable'" [message]="'Do you really want to enabled/disable this record? This process cannot be undone'" (delete)="confirmChangeStatusOnDelete($event)"></app-modal-delete> 
</div>

<!-- modal delete record -->
<div class="modal fade" id="deleteRecordConfirmModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-modal-delete (delete)="confirmDeleteRecord($event)"></app-modal-delete> 
</div>

<!-- Change Password -->
<div class="modal fade" id="modalChangePassCustomers" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-change-password [setId]="idSelected" (changePass)="closeModalChangePass($event)"></app-change-password>
</div>
<!-- End Change Password -->

<!--add categories-->
<div class="modal fade" id="modalPositionCoach" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-modal-position [data]="data" (onClose)="closeModalpositions($event)"></app-modal-position>
</div>