
.content {
  color: rgb(36, 34, 34);
  font-size: 12px;
  input{
    font-size: 12px;
  }

  table {
    color: #393939;
    background: #fff;

    tbody {
        font-size: 11px;

        tr .td-name {
            margin-left: 8px;
        }
        tr .td-email {
            margin-left: 46px;
            position: absolute;
            margin-top: -12px;
        }

        tr .avatar {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
      }
    }
}
.bg-icon-success {
    color: #28a745 !important;
}
.bg-icon-danger {
    color: #dc3545 !important;
}
}
i{
  color:#000;
}
.modal-body{
  color: #000;
}
