<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="formEdit">
                <div class="col-12">
                    <label class="small mb-1" for="inputPassword">First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1First" placeholder=""
                        formControlName="firstName" autocomplete="off">
                    <span *ngIf="validInput('firstName')" class="text-danger mt-2">
                        Required field
                    </span>
                </div>
                <div class="col-12 mt-2">
                    <label class="small mb-1" for="inputPassword">Last Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1Last" placeholder=""
                        formControlName="lastName" autocomplete="off">
                    <span *ngIf="validInput('lastName')" class="text-danger mt-2">
                        Required field
                    </span>
                </div>
                <div class="col-12 mt-2">
                    <label class="small mb-1" for="inputPassword">Sex<span class="text-danger">*</span></label>
                    <div *ngFor="let item of sexList; let i = index;">
                        <div class="form-check ml-2">
                            <input (click)="selectedSex(item)" class="form-check-input" type="radio" name="radioSex"
                                [id]="'radioSex'+i" [value]="item?.id">
                            <label class="form-check-label" for="flexRadioDefault1">
                                {{ item?.name }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <label class="small mb-1" for="inputPassword">Phone Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1Phone" placeholder=""
                        mask="(000) 000-0000" formControlName="phone"
                        onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                    <span *ngIf="validInput('phone')" class="text-danger mt-2">
                        Required field
                    </span>
                    <span *ngIf="validInputMin('phone')" class="text-danger mt-2">
                        Phone number must be 10 digits
                    </span>
                    <span *ngIf="validInputMax('phone')" class="text-danger mt-2">
                        Phone number must be 10 digits
                    </span>
                </div>
                <div class="mt-4 mb-0 text-center">
                    <button class="btn btn-primary" [disabled]="formEdit.invalid">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>