<section class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Legal business name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Orange Theory Fitness">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Employer identification Number (EN)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="123 - 456789">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Doing business as <span class="badge bg-secondary">Optional</span></label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Orange Theory Fitness">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Registered business address</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="United Stated">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="323 Northeast 163rd Street">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address line 2">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Suny isles beach">
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Florida">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="33160">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Business phone number</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="(305) 204 - 2754">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Business website</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="orangetheoryfitness.com">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Industry</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Health & Fitness">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product description</label>
            <textarea type="text" class="form-control" id="exampleFormControlInput1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            </textarea>
        </div>
        <button class="btn btn-primary btn-save">
            Save
        </button>
    </div>
</section>