.card {
    color: #9F9F9F;
    border: none;
    font-size: 12px;

    input {
        font-size: 12px;
    }
    .btn-save {
        margin-top: 10px;
        margin-bottom: 10px;
        background: #1F72EA;
        padding: 6px 50px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
}