<section class="card">
    <div class="card-body">
      <form (ngSubmit)="onUpdate()" [formGroup]="ModalForm">
        <input type="text" hidden formControlName="id" id="id">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Legal business name</label>
                    <input formControlName="legalBusinessName" type="text" class="form-control" id="legalBusinessName" placeholder="Legal business name">
                </div>
            </div>
            <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Employer identification Number (EN)</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="123 - 456789">
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Doing business as <span class="badge bg-secondary">Optional</span></label>
                    <input formControlName="doingBusinessAs" type="text" class="form-control" id="doingBusinessAs" placeholder="Doing business as">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Registered business address</label>
                    <input formControlName="registerBusinessAddress" type="text" class="form-control" id="registerBusinessAddress" 
                    placeholder="Registered business address">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input formControlName="address" type="text" class="form-control" id="address" placeholder="Address">
        </div>
        <!-- <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address line 2">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Suny isles beach">
        </div> -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <input formControlName="state" type="text" class="form-control" id="exampleFormControlInput1" placeholder="State">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <input formControlName="zipcode" type="text" class="form-control" id="zipcode" placeholder="zipcode">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Business phone number</label>
                    <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="(000) 000 - 0000">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Business website</label>
                    <input formControlName="website" type="text" class="form-control" id="exampleFormControlInput1" placeholder="business@website.com">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Industry</label>
            <input formControlName="industry" type="text" class="form-control" id="industry" placeholder="Industry">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product description</label>
            <textarea formControlName="longDescription" type="text" class="form-control" id="longDescription">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            </textarea>
        </div>
        <button class="btn btn-primary btn-save">
            Save
        </button>

      </form>
    </div>
</section>
