.imgFondo{
    background-image: url("../../../../../assets/images/bookfons/card.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 223px;
    width: 372px;
  
}