.imgFondo{
    background-image: url("../../../../../../assets/images/bookfons/card.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 155px;
    width: 258px; 
    margin-top: 5px;
}