<div class="card shadow-sm">
 <div class="row m-5">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button type="button" class="btn btn-primary">Primary</button>
    </div>
 </div>
</div>