<section class="card">
    <div class="card-body">
      <form (ngSubmit)="onUpdate()" [formGroup]="ModalForm">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Public business name</label>
                    <input formControlName="publicBusinessName" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Test account">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Sopport email</label>
                    <input formControlName="supportEmail" type="email" class="form-control" id="exampleFormControlInput1" placeholder="edgar@appcoders.dev">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Sopport Phone Number</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Show on receipts and invoices</label>
                    </div>
                    <input formControlName="supporPhoneNumber" type="text" class="form-control" id="exampleFormControlInput1" placeholder="+1 (201) 666-1789">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Sopport Address <span class="badge bg-secondary">Optional</span></label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Use business address</label>
                    </div>
                    <input formControlName="supporAddress" type="text" class="form-control" id="exampleFormControlInput1" placeholder="United States">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input formControlName="addressLine1" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address line 1">
        </div>
        <div class="mb-3">
            <input formControlName="addressLine2" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address line 2">
        </div>
        <div class="mb-3">
            <input formControlName="city" type="text" class="form-control" id="exampleFormControlInput1" placeholder="City">
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <input formControlName="state" type="text" class="form-control" id="exampleFormControlInput1" placeholder="State">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <input formControlName="zipCode" type="email" class="form-control" id="exampleFormControlInput1" placeholder="ZIP code">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Statement descriptor</label>
            <input formControlName="statementDescriptor" type="text" class="form-control" id="exampleFormControlInput1" placeholder="2-10 characters">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Shortened descriptor</label>
            <input formControlName="shortenedDescriptor" type="text" class="form-control" id="exampleFormControlInput1" placeholder="2-10 characters">
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Business website</label>
                    <input formControlName="bussinessWebSide" type="text" class="form-control" id="exampleFormControlInput1" placeholder="2-10 characters">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Support website</label>
                    <input formControlName="supporWebSide" type="text" class="form-control" id="exampleFormControlInput1" placeholder="2-10 characters">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Privacy policy</label>
                    <input formControlName="privacyPolicy" type="text" class="form-control" id="exampleFormControlInput1" placeholder="website.com/terms-of-serv">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Terms of service</label>
                    <input formControlName="termsService" type="text" class="form-control" id="exampleFormControlInput1" placeholder="website.com/terms-of-serv">
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="ModalForm.invalid" class="btn btn-primary btn-save">
            Save
        </button>
      </form>
    </div>
</section>
