<section class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Public business name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Test account">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Sopport email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="edgar@appcoders.dev">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Sopport Phone Number</label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Show on receipts and invoices</label>
                    </div>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="+1 (201) 666-1789">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Sopport Address <span class="badge bg-secondary">Optional</span></label>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Use business address</label>
                    </div>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="United States">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address line 1">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Address line 2">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="City">
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="State">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ZIP code">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Statement descriptor</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="2-10 characters">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Shortened descriptor</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="2-10 characters">
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Business website</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="2-10 characters">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Support website</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="2-10 characters">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Privacy policy</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="website.com/terms-of-serv">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Terms of service</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="website.com/terms-of-serv">
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-save">
            Save
        </button>
    </div>
</section>