<div class="content w-100">
  <div class="card p-3 rounded-3 border-0">
    <div class="row">
      <div class="col">
        <div class="mb-3">
        <label for="text" class="col-sm-2 col-form-label">Staff label</label>
        <div class="col-sm-10">
          <input type="text" placeholder="Coach"  class="form-control">
        </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="text" class="col-sm-5 col-form-label">Staff clasification</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Professional"  class="form-control">
              <a href="#" class="text-decoration-none">+ Add more classification</a>
          </div>
          </div>
      </div>
      <div class="row justify-content-start mb-3">
        <div class="col-2">
          <button type="button" class="btn btn-primary w-100-px"> Save </button>
        </div>
      </div>
    </div>
  </div>
</div>
