<div class="container-flex mt-5">
  <div class="row m-1">
    <div class="col-12">
      <h3 id="title" class="text-center">Bookfon Services</h3>
    </div>
  </div>
  <div class="row m-1">
    <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-10 col-10 mt-3 offset-xl-0 offset-lg-0 offset-md-0 offset-sm-1 offset-1">
      <input class="form-control" type="month">
    </div> -->
    <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6">
      <input type="text" class="form-control">
    </div>
    <div class="col-md-6 col-xs-12 col-lg-6 col-sm-6" style="text-align: right;">
      <i style="color: red; font-size: 22px;" class="bi bi-calendar2-week-fill">Year</i>
      <button class="icon-button"><i class="bi bi-arrow-repeat"></i></button>
      <button class="icon-button"><i class="bi bi-share-fill"></i></button>
    </div>
  </div>
  <div class="row mt-3 m-1">
    <mdb-carousel [controls]="true" [indicators]="false" [animation]="'slide'" [dark]="true" [interval]="60000">
      <mdb-carousel-item>
        <div class="row">
          <div *ngFor="let item of [1,1,1,1,1]" class="col">
            <img src="../../../assets/images/icons/staff.svg" alt="user">
            <label>Nombre apellido apellido</label>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="row">
          <div *ngFor="let item of [1,1,1,1,1]" class="col">
            <img src="../../../assets/images/icons/staff.svg" alt="user">
            <label>Nombre apellido apellido</label>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="row">
          <div *ngFor="let item of [1,1,1,1,1]" class="col">
            <img src="../../../assets/images/icons/staff.svg" alt="user">
            <label>Nombre apellido apellido</label>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="row m-1">
    <div class="col">
        <app-full-calendar [showCustomButton]="false" *ngIf="loadingEvents" [events]="events">
        </app-full-calendar>
        <div class="d-flex justify-content-center">
          <div class="spinner-grow text-dark mt-3" role="status" *ngIf="!loadingEvents">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
    </div>
  </div>
</div>
