<!--add categories-->
<div class="modal fade" id="modalNewCategories" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-add-categories [dataupdateCategories]="module" (onClose)="closeModalCategories($event)"></app-add-categories>
  </div>

<!--add  Sub categories categories-->
<div class="modal fade" id="modalNewSubCategories" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-add-subcategories  [dataupdateSubCategories]="module" (onClose)="closeModalSubCategories($event)"></app-add-subcategories>
  </div>

  <button class="btn btn-add" routerLink="/pages/services">
    <i class="bi bi-arrow-bar-left"></i>
   Return list Service
</button>
<div class="container mb-5">
   <form (ngSubmit)="onSubmit()" [formGroup]="Serviceadd">
    <h5>{{title}}</h5>
    <div class="border-bottom border-3">
        <span>Service detail</span>
    </div>
    <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="mb-3">
                  <label class="small mb-1" for="inputName">Name Service: <span class="text-danger">*</span></label>
                  <input class="form-control mb-2" id="inputtName" type="text" placeholder="Name Service" 
                      formControlName="name" [class.is-invalid]="validInput('name')"/>
                  <span *ngIf="validInput('name')" class="text-danger mt-2">
                      Campo requerido.
                  </span>
              </div>
              <div class="mb-3">
                <label class="small mb-1" for="inputdescription">Description: <span class="text-danger">*</span></label>
                <textarea class="form-control mb-2" id="inputdescription" type="text" placeholder="Ingrese la Descripcion"
                    formControlName="description" rows="5"></textarea>
            </div>
              <!--
              <div class="row ms-0">
                <span>Sales Channels</span>
                <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-xs-12 chek">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            Web App
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            Point of Sale
                        </label>
                     </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 chek">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            iOS & Android MobileApp
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            bookfon marketplace
                        </label>
                     </div>
                </div>
              </div>-->
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
           <span>Image</span>
           <!-- Carusel -->
           <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12"> -->
            <div class="div-staff">
              <div class="container-fluit">
                <div class="slider-wrap">
                  <!-- slider item -->
                  <div class="slider-main">
                    <div *ngFor="let item of imagesList; let i = index" (click)="clickedFile()"
                          [ngClass]="'item element-' + i">
                      <button class="btn btn-danger btn-remove" *ngIf="i > 0" (click)="removeImage(i)">X</button>
                      <div class="img-wrapper">
                        <img *ngIf="item?.url !== '' " [src]="item?.url" class="avatar" appBrokenImagen alt="profile.png">
                      </div>
                      <i class="bi bi-plus btn-plus"></i>
                      <input type="file" name="file" id="fileService" style="display: none;" (change)="SelectedFile($event)">
                    </div>
                  </div>
                  <!-- Buttons -->
                  <div class="button-area">
                    <button type="button" class="prev" appBtnPrev>
                      <i class="bi bi-chevron-compact-left"></i>
                    </button>
                    <button type="button" class="next" appBtnNext>
                      <i class="bi bi-chevron-compact-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <!-- </div> -->
          <!-- END CARUSEL -->
           <div class="row">
            <label class="small mb-1" for="inputibrachoffices">Category <span class="text-danger">*</span></label>
            <div class="mb-3" style="display: flex;">
              <ng-select #BusinessSelect [items]="categoryData" [selectOnTab]="true" [multiple]="true"
                  bindValue="id" bindLabel="name" placeholder="select a category" formControlName="categories" style="width: 45%;">
              </ng-select>
              <span *ngIf="validInput('categories')" class="text-danger mt-2">
                  This field is required.
              </span>
              <button type="button" class="ms-2 text-primary" style="width: 45%; background-color: rgba(255, 248, 220, 0); border: 0;
              font-weight: 600; font-size: 12px;" (click)="showModalCategoriesAdd(true)">+ Add /Create more categories</button>
            </div>
            <label class="small mb-1" for="inputibrachoffices">Sub'Category <span class="text-danger">*</span></label>
                <div class="mb-3" style="display: flex;">
                  <ng-select #BusinessSelect [items]="subcategoryData" [selectOnTab]="true" [multiple]="true"
                      bindValue="id" bindLabel="name" placeholder="select a sub_category" formControlName="subcategories" style="width: 45%;">
                  </ng-select>
                  <span *ngIf="validInput('categories')" class="text-danger mt-2">
                      This field is required.
                  </span>
                   <button type="button" class="ms-2 text-primary" style="width: 45%; background-color: rgba(255, 248, 220, 0); border: 0;
                   font-weight: 600; font-size: 12px;" (click)="showModalSubCategoriesAdd(true)">+ Add /Create more Sub-category</button>
                </div>    
                   <!--
                <label class="p-0 mb-2 mt-2">Clasification</label>
                   <select class="form-select" aria-label="Default select example" style="width: 40%;">
                       <option selected>Baseball</option>
                       <option value="1">One</option>
                       <option value="2">Two</option>
                       <option value="3">Three</option>
                     </select>
                       <button type="button" class="ms-2 text-primary" style="width: 45%; background-color: rgba(255, 248, 220, 0); border: 0;
                         font-weight: 600; font-size: 12px;">+ Add /Create more Clasification</button>-->
           </div>
       </div>
    </div>
    <div class="row border-bottom border-3">

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display: flex;">
            <div class="mb-3">
                <label class="small" for="">Duration</label><br>
                <input type="text" class="form-control" aria-label="Price" aria-describedby="basic-addon2" style="width: 80px;" formControlName="duration"
                onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                <span *ngIf="validInput('duration')" class="text-danger mt-2">
                  Required field
              </span>
            </div>
            <div class="mb-3 ms-2 ">
                <label for="exampleInputEmail1" class="small">Price</label><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="0.00" aria-label="Price" aria-describedby="basic-addon2" style="width: 80px;" formControlName="price"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                    <div class="input-group-append">
                      <select class="input-group-text" id="basic-addon2" formControlName="idCurrency" style="background-color: #F9F9F9; height: 40px;">
                        <option *ngFor="let item of currencies" [value]="item?.id"> {{ item?.name }}</option>
                      </select>
                    </div>
                  </div>
            </div>
            <div class="btn-group mt-4 me-3 ms-3" role="group" aria-label="Basic radio toggle button group" style="height: 41px; border-radius: 10px;">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio1">One time</label>
               <div class="ms-4"></div>
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" disabled>
              <label class="btn btn-outline-primary" for="btnradio2">Recurring</label>
           </div>
          </div>
             <!-- 
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display: flex;">
            <div class="mb-3 ps-0">
                <label>Billing period</label><br>
                <select class="form-select" aria-label="Default select example" style="width: 170px; height: 41px;">
                    <option selected>Baseball</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
          <div class="mb-3">
                <button class="btn btn-add">
                    <i class="bi bi-plus"></i>
                    Add /Create Tax Rate
                </button>
            </div>
          </div>
        
        <button type="button" class="ms-2 text-primary" style="width: 45%; background-color: rgba(255, 248, 220, 0); border: 0;
        font-weight: 600; font-size: 12px;">+ Add more currencies</button>
        <span class="mb-3" style="font-size: 12px; margin-left: 15%;">This is a suggested price based on today’s exchange rate. <br> Price won’t automatically update if exchange rate changes.</span>
     </div>-->
<!--
       <div class="row border-bottom border-3">
        <button type="button" class="mb-2 text-primary" style="width: 15%; background-color: rgba(255, 248, 220, 0); border: 0;
        font-weight: 600; font-size: 12px;">+ Add more currencies</button>
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-xs-12" style="display: flex;">
            <div class="mb-3">
                <label class="small" for="">Duration</label><br>
                <input class="timer" type="time" id="appt" name="appt" min="06:00" max="24:00" required style="text-align: center;">
            </div>
            <div class="mb-3 ms-2 ">
                <label for="exampleInputEmail1" class="small">Price</label><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="$0.00" aria-label="Price" aria-describedby="basic-addon2" style="width: 80px;">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2" style="background-color: #F9F9F9;">USD</span>
                    </div>
                  </div>
            </div>
            <div class="btn-group mt-4 me-4 ms-4" role="group" aria-label="Basic radio toggle button group" style="height: 41px; border-radius: 10px; width: 112px;">
              <input type="radio" class="btn-check" name="btnradio2" id="btnR1" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnR1">Onetime</label>
               <div class="ms-4"></div>
              <input type="radio" class="btn-check" name="btnradio2" id="btnR2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnR2">Recurring</label>
           </div>
        </div>
        <button type="button" class="ms-2 text-primary" style="width: 45%; background-color: rgba(255, 248, 220, 0); border: 0;
        font-weight: 600; font-size: 12px;">+ Add more currencies</button>
        <span class="mb-3" style="font-size: 12px; margin-left: 15%;">This is a suggested price based on today’s exchange rate. <br> Price won’t automatically update if exchange rate changes.</span>
    
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display: flex;">
            <div class="mb-3">
                <label class="small" for="">Duration</label><br>
                <input class="timer" type="time" id="appt" name="appt" min="06:00" max="24:00" required style="text-align: center;">
            </div>
            <div class="mb-3 ms-2 ">
                <label for="exampleInputEmail1" class="small">Price</label><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="$0.00" aria-label="Price" aria-describedby="basic-addon2" style="width: 80px;">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2" style="background-color: #F9F9F9;">USD</span>
                    </div>
                  </div>
            </div>
            <div class="btn-group mt-4 me-4 ms-4" role="group" aria-label="Basic radio toggle button group" style="height: 41px; border-radius: 10px; width: 250px;">
              <input type="radio" class="btn-check" name="btnrad" id="btnrad1" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnrad1">Onetime</label>
               <div class="ms-4"></div>
              <input type="radio" class="btn-check" name="btnrad" id="btnrad2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnrad2">Recurring</label>
           </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display: flex;">
        <div class="mb-3 ms-3">
          <label>Billing period</label><br>
          <select class="form-select" aria-label="Default select example" style="width: 170px; height: 41px;">
              <option selected>Baseball</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
      </div>
    </div>
        <button type="button" class="ms-2 text-primary" style="width: 45%; background-color: rgba(255, 248, 220, 0); border: 0;
        font-weight: 600; font-size: 12px;">+ Add more currencies</button>
        <span class="mb-3" style="font-size: 12px; margin-left: 15%;">This is a suggested price based on today’s exchange rate. <br> Price won’t automatically update if exchange rate changes.</span>
  
        <div style="display: flex;">
          <button type="button" class="ms-2 text-primary" style="width: 15%; background-color: rgba(255, 248, 220, 0); border: 0;
            font-weight: 600; font-size: 12px;">+ Add free trial</button>
           <button type="button" class="ms-2 text-primary" style="width: 15%; background-color: rgba(255, 248, 220, 0); border: 0;
            font-weight: 600; font-size: 12px;">+ Add free trial</button>
            <button type="button" class="ms-2 text-primary" style="width: 15%; background-color: rgba(255, 248, 220, 0); border: 0;
            font-weight: 600; font-size: 12px;">+ Add free trial</button>
         </div>
 </div>
    <div class="row border-bottom border-3">
        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-xs-12" style="display: flex;">
            <div class="mb-3 ms-2 ">
                <label for="exampleInputEmail1" class="small">Price</label><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="1" aria-label="Price" aria-describedby="basic-addon2" style="width: 80px;">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2" style="background-color: #F9F9F9;">One time</span>
                    </div>
                  </div>
            </div>
            <div class="mb-3 ms-2 ">
                <label for="exampleInputEmail1" class="small">Price</label><br>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="1" aria-label="Price" aria-describedby="basic-addon2" style="width: 80px;">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2" style="background-color: #F9F9F9;">Recurring</span>
                    </div>
                  </div>
            </div>
   
        </div>
     </div>
-->
    </div>
    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary" [disabled]="step">Save Service</button>
    </div>
  </form>
</div>
  