<div class="card">
    <div class="card-body">
        <h5>Bank account</h5>
        <div class="item-bank">
            <h6>No bank account have been added</h6>
            <p>Charges for currencies that have not been enabled Will be converted to you default currency, USD.</p>
            <a href="#"> 
                <i class="bi bi-plus"></i>
                witch currencies can i charge in?
            </a>
            <br>
            <button class="btn btn-add">
                <i class="bi bi-plus"></i>
                Add bank account
            </button>
        </div>
        <br>
        <h5>Payout schedule</h5>
        <p>
            Set a Scheduled to automatically  receive payouts, or send manual payouts via the API or Dashboard. <a href="#">learn more</a>
        </p>
        <div class="item-bank">
            <div class="form-check" style="display: flex;">
                <div style="margin-top: 6px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Automatic every
                    </label>
                </div>
                <input type="text" class="form-control" style="width: 80px; margin-left: 20px;" placeholder="day">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Manul You'll no longer be able to see whitch trasactions are bundled in payout.
                </label>
            </div>
        </div>
    </div>
</div>