.container{
    
    .btn-add {
        border-style: dashed;
        border-width: 1px;
        border-color: #1F72EA;
        color: #1F72EA;
        margin-bottom: 25px;
        height: 51px;
    }
    .btn-ng-primary{
        color: #1F72EA;
    }
    
    .btn-ng-danger{
        color: #FF0000;
    }
    
    }