<div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" *ngIf="!showUser" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        <a type="button" class="btn btn-outline-secondary" *ngIf="showUser" (click)="returnTo()">Return to</a>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="passForm">
            <div class="col-12">
                <label class="small mb-1" for="inputPassword">Nueva Contraseña<span class="text-danger">*</span></label>
                <div class="input-group mb-3">
                    <input class="form-control" #inputPassword type="password" placeholder="Ingrese la nueva contraseña"
                        formControlName="password" [class.is-invalid]="validInput('password')" autocomplete="off"/>
                    <button class="btn btn-outline-secondary" type="button" (click)="changeType(inputPassword)">
                        <i class="bi bi-eye" id="icon1"></i>
                    </button>
                </div>
                <span *ngIf="validInput('password')" class="text-danger">
                    Campo requerido
                </span>
                <span *ngIf="validateInputLength('password')" class="text-danger">
                    La contraseña debe ser más larga que {{ passForm.get('password')?.errors?.['minlength']?.requiredLength }} carateres
                </span>
            </div>
            <div class="col-12 mt-2">
                <label class="small mb-1" for="inputPasswordVerify">Verificar Password<span class="text-danger">*</span></label>
                <div class="input-group mb-3">
                    <input class="form-control" #inputPassword2 type="password" placeholder="Confirme su nueva contraseña" 
                        formControlName="passVerify" [class.is-invalid]="validInput('passVerify')" autocomplete="off"/>
                    <button class="btn btn-outline-secondary" type="button" (click)="changeType2(inputPassword2)">
                        <i class="bi bi-eye" id="icon2"></i>
                    </button>
                </div>
                <span *ngIf="validInput('passVerify')" class="text-danger">
                    Campo requerido
                </span>
                <span *ngIf="validateInputLength('passVerify')" class="text-danger">
                    La contraseña debe ser más larga que {{ passForm.get('passVerify')?.errors?.['minlength']?.requiredLength }} caracteres
                </span>
                <span *ngIf="comparePassword()" class="text-danger">
                    Las contraseñas no coinciden
                </span>
            </div>
            
            <div class="form-check mt-4">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="selectDefault()">
                <label class="form-check-label" for="flexCheckDefault" checked>
                    Contraseña predeterminada (La contraseña se envía al correo).
                </label>
                <span *ngIf="validateInputLength('description')" class="text-danger">
                    La descripción debe ser más larga que {{ passForm.get('description')?.errors?.['minlength']?.requiredLength }} caracteres
                </span>
            </div>
            <div class="mt-4 mb-0 text-center">
                <button class="btn btn-primary"
                    [disabled]="passForm.invalid && samePassword">
                    Guardar
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>