<form (ngSubmit)="onSubmit()" [formGroup]="formBusiness">
  <!-- ID -->
  <input type="hidden" name="id" formControlName="id">
  <!-- Form Group Description & number of lessons-->
  <div class="row mt-2">
      <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-xs-12">
          <div class="mb-3">
              <label class="small mb-1" for="inputLastName">Account name</label>
              <input type="text" class="form-control" placeholder="Account name" formControlName="name">
              <span *ngIf="validInput('description')" class="text-danger">
                  This field is required.
              </span>
          </div>
      </div>
    </div>
    <div class="mt-2 mb-0">
      <button class="btn btn-primary" style="width: 150px;"
          [disabled]="formBusiness.invalid">
          Save
      </button>
    </div>
  </form>