
p {
    margin-left: 50px;
    color: #53504E;
    font-size: 11px;
}

.form-switch {
    label {
        font-size: 12px;
        letter-spacing: 0px;
        color: #53504E;
        opacity: 1;
        margin-left: 10px;
    }
}

.btn-add {
    border-style: dashed;
    border-width: 1px;
    border-color: #1F72EA;
    color: #1F72EA;
    padding: 6px 30px;
}

.btn-table {
    float: right;
}

table {
    color: #393939;
    background: #fff;
    
    tbody {
        font-size: 11px;

        tr .td-name {
            margin-left: 8px;
        }
        tr .td-email {
            margin-left: 46px;
            position: absolute;
            margin-top: -12px;
        }
    }
}
.avatar{
    width: 30px;
    height: 30px;
}
