<!-- Modal Validate new User -->
<div class="modal fade" id="modalValidateNewStaffSettings" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-validate-new-user [title]="'New User'" [showSettings]="true" (onCloseModalAndOpenOld)="onCloseModalAndOpenOld($event)"></app-validate-new-user>
</div>

<!-- Modal New Settings-->
<div class="modal fade" id="modalNewStaffSettings" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <label>New Staff</label>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-flex">
          <form (ngSubmit)="onSaveStaff()" [formGroup]="ModalStaffForm">
            <div class="row mt-2">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="name" class="">First Name<sup class="text-danger">*</sup></label>
                <input formControlName="name" required type="text" class="form-control" id="name" placeholder="name">
                <span *ngIf="validInput('name')" class="text-danger mt-2">
                  Required field
                </span>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="last name" class="">Last name<sup class="text-danger">*</sup></label>
                <input formControlName="lastName" required type="text" class="form-control" id="lastName" placeholder="lastname">
                <span *ngIf="validInput('lastName')" class="text-danger mt-2">
                  Required field
                </span>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="email" class="">Email<sup class="text-danger">*</sup></label>
                <input formControlName="email" required type="text" class="form-control" id="email" placeholder="email" autocomplete="new-semail">
                <span *ngIf="validInput('email')" class="text-danger mt-2">
                  Required field
                </span>
                <!-- valid regext -->
                <span *ngIf="validEmail('email')" class="text-danger mt-2">
                  Invalid email
                </span>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="phone" class="">Phone<sup class="text-danger">*</sup></label>
                <input formControlName="phone" required type="text" class="form-control" placeholder="(000) 000-0000" mask="(000) 000-0000">
                <span *ngIf="validInput('phone')" class="text-danger mt-2">
                  Required field
                </span>
                <span *ngIf="validInputMin('phone')" class="text-danger mt-2">
                  Min 10 characters
                </span>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="password" class="">Password <sup class="text-danger">*</sup></label>
                <input formControlName="password" required type="password" class="form-control" id="password" placeholder="password" autocomplete="new-password">
                <span *ngIf="validInput('password')" class="text-danger mt-2">
                  Required field
                </span>
                <span *ngIf="validInputMin('password')" class="text-danger mt-2">
                  Min 6 characters
                </span>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="password" class="">Password confirm<sup class="text-danger">*</sup></label>
                <input formControlName="password_confirm" required type="password" class="form-control" autocomplete="new-password_confirm"
                  id="password_confirm" placeholder="password" (change)="comparePasswords()">
                <span *ngIf="validInput('password_confirm')" class="text-danger mt-2">
                  Required field
                </span>
                <span *ngIf="validInputMin('password_confirm')" class="text-danger mt-2">
                  Min 6 characters
                </span>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="password" class="">Profile</label>
                <textarea formControlName="profile" name="profile" id="profile" style="width: 100%;" rows="3" class="form-control"></textarea>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="Sex">Sex<sup class="text-danger">*</sup></label>
                <!-- <select formControlName="sex" required class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="5">Male</option>
                  <option value="6">Female</option>
                  <option value="7">Undefined</option>
                </select> -->
                <select class="form-select" formControlName="sex">
                <option disabled value="" readonly>choose sex</option>
                <option *ngFor="let item of sexs" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
                <span *ngIf="validInput('sex')" class="text-danger mt-2">
                  Required field
                </span>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <label for="role">Rol <sup class="text-danger">*</sup></label>
                <select formControlName="role" required class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="ADMIN">Administrator</option>
                  <option value="STAFF">Staff</option>
                  <option value="CUSTOMER">Customer</option>
                </select>
                <span *ngIf="validInput('role')" class="text-danger mt-2">
                  Required field
                </span>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-4 offset-4">
                <button [disabled]="ModalStaffForm.invalid" type="submit" style="width: 100%" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>
          <!-- <pre style="color: black;">
            {{ ModalStaffForm.value | json }}
          </pre>
          <pre style="color: black;">
            INVALID VALIDO: {{ ModalStaffForm.invalid }}
          </pre> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page -->
<div div class="row" style="margin-left: 0px;">
    <div class="content-1" style="padding-left: 0px !important;">
        <ul class="scroll-menu" style="margin: 0px !important; padding: 0px !important">
            <li *ngFor="let item of scrollOptions; let i = index;" [ngClass]="{'active': item.active}"
                class="menu-item" (click)="changeOptions(item, i)">
                {{ item.title }}
            </li>
        </ul>
    </div>

    <div class="content-2">
        <div [ngSwitch]="optionSelected">
            <div *ngSwitchCase="0">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Require two-step authentication for your team</label>
                </div>
                <p>
                    This Will require any team member without two-step authentication to enable in the next time they sign in.
                </p>

                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-7 col-sm-6 col-xs-12">
                        <form class="d-flex">
                          <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" (keyup)="searchData($event)">
                        </form>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-5 col-sm-6 col-xs-12">
                        <button class="btn btn-add" (click)="showModal(true)">
                            <i class="bi bi-plus"></i>
                            Add new staff
                        </button>

                        <!-- <button class="btn btn-table">
                            <img src="assets/images/icons/settings2.svg" alt="">
                        </button>
                        <button class="btn btn-table">
                            <img src="assets/images/icons/pdf.svg" alt="">
                        </button>
                        <button class="btn btn-table">
                            <img src="assets/images/icons/download.svg" alt="">
                        </button> -->

                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" name="" id="">
                                </th>
                                <th>Mamber</th>
                                <th>Roles</th>
                                <th>Last login</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of userList">
                                <td class="align-middle">
                                    <input type="checkbox" name="" id="">
                                </td>
                                <td class="align-middle">
                                    <img [src]=" item?.image !== '' ? item.image : 'assets/images/bookfons/user-found-1.png'" class="avatar" appBrokenImagen alt="">
                                    <label for="" class="td-name">{{item.firstName}} {{item.lastName}}</label><br>
                                    <label for="" class="td-email">{{item.email}}</label>
                                </td>
                                <td class="align-middle">
                                    <label for="">ADMIN</label>
                                </td>
                                <td class="align-middle">
                                    <label for="">{{ item.lastLogin | date: 'dd/MM/yyyy hh:mm a' }}</label>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td class="align-middle">
                                    <input type="checkbox" name="" id="">
                                </td>
                                <td class="align-middle">
                                    <img src="assets/images/bookfons/user-found-1.png" class="avatar" alt="">
                                    <label for="" class="td-name">Mario Harrinson</label><br>
                                    <label for="" class="td-email">Marioharrison@mail.com</label>
                                </td>
                                <td class="align-middle">
                                    <label for="">Administrador</label>
                                </td>
                                <td class="align-middle">
                                    <label for="">September 22, 2022, 6:38 PM</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">
                                    <input type="checkbox" name="" id="">
                                </td>
                                <td class="align-middle">
                                    <img src="assets/images/bookfons/user-found-1.png" class="avatar" alt="">
                                    <label for="" class="td-name">Mario Harrinson</label><br>
                                    <label for="" class="td-email">Marioharrison@mail.com</label>
                                </td>
                                <td class="align-middle">
                                    <label for="">Administrador</label>
                                </td>
                                <td class="align-middle">
                                    <label for="">September 22, 2022, 6:38 PM</label>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
