<section class="card-container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 content-1">
            <div class="item">
                <label for="">Brand elements</label>
                <p>Customize how your Brand appears globally across the Bookfon services.</p>

            </div>
            <label for="" class="subtitle">Icon</label><br>
            <img src="assets/images/bookfons/icon.png" alt=""><br>

            <label for="" class="subtitle" style="margin-top: 10px;">Logo</label><br>
            <img src="assets/images/bookfons/logo.png" alt="" height="65" style="width: 100%;">

            <label for="" class="subtitle" style="margin-top: 10px;">Logo instead of icon</label>
            <i class="bi bi-record-circle-fill" style="color: #1F72EA; margin-left: 10px; font-size: 16px;"></i>

            <hr>

            <label for="" class="subtitle" style="margin-top: 10px;">Brand color</label>
            
            <br>
            <label for="" class="subtitle" style="margin-top: 10px;">Accent color</label>

            <hr>

            <label for="" class="subtitle" style="margin-top: 10px;">Branding for connected account</label>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
        </div>
    </div>
</section>