<section class="card-container">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 content-1">
            <div class="item">
                <label for="">Brand elements</label>
                <p>Customize how your Brand appears globally across the Bookfon services.</p>

            </div>
            <label for="" class="subtitle">Icon</label><br>
            <img src="assets/images/bookfons/icon.png" alt=""><br>

            <label for="" class="subtitle" style="margin-top: 10px;">Logo</label><br>
            <img src="assets/images/bookfons/logo.png" alt="" height="65" style="width: 100%;">

            <label for="" class="subtitle" style="margin-top: 10px;">Logo instead of icon</label>
            <i class="bi bi-record-circle-fill" style="color: #1F72EA; margin-left: 10px; font-size: 16px;"></i>

            <hr>

            <label for="" class="subtitle" style="margin-top: 10px;">Brand color</label>
            
            <br>
            <label for="" class="subtitle" style="margin-top: 10px;">Accent color</label>

            <hr>

            <label for="" class="subtitle" style="margin-top: 10px;">Branding for connected account</label>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-6 content-2">
            <div>
                <label class="fw-bolder mt-4">Brand elements</label>
                <p class="mt-2">Email receipts</p>
            </div>
            <div class="imgFondo">
                <button class="btn btn-add">
                    <span style="font-size: 8px; display: flex;">Send test receipt</span>
                </button>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: flex;">
                        <img src="assets/images/bookfons/icon.png" style="height: 45px;width: 45px; margin-left: 15px; margin-top: 5px;">
                       <div class="m-2">
                        <span class="fw-bolder ">Orange Theory Fitness</span><br>
                        <span>Receipt #124-2569</span>
                       </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="m-2">
                            <span class="fw-bolder">AMOUNT PAID</span><br>
                            <span>$49.50</span>
                           </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="m-2">
                            <span class="fw-bolder ">DATE PAID</span><br>
                            <span>$49.50</span>
                           </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="m-2">
                            <span class="fw-bolder ">PAYMENT METHOD</span><br>
                            <img src="/src/assets/images/bookfons/logom.png" width="20px" height="20px"> <span>-0879</span>
                           </div>
                     </div>
                </div>
            </div>
        </div>

    </div>
</section>