.card-container {
    color: #696974;
    font-size: 12px;
    margin-bottom: 40px;

    .content-1 {
        background: #ECECEC 0% 0% no-repeat padding-box;
        opacity: 1;

        .item {
            text-align: center;

            label {
                margin-top: 10px;
                color: #181C33;
                font-size: 13px;
                font-weight: 600;
            }
        }

        .subtitle {
            color: #181C33;
            font-size: 13px;
            font-weight: 600;
        }
    }

    .imgFondo{
        background-image: url("../../../../../assets/images/bookfons/card.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 223px;
        width: 372px;
      
    }

    
    .btn-add {
        border-style: dashed;
        border-width: 1px;
        border-color: #1F72EA;
        color: #1F72EA;
        padding: 6px 30px;
        margin-top: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        margin-left: 15px;
        height: 25px;


    }
}

.btn-return {
    position: absolute; 
    left: 20px; 
    top: 90px; 
    color: #ADA7A7;
}


.links{
    text-decoration:none;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #556ee6;
    background-color:#ffffff00 ;
    border-bottom-color: rgb(1, 60, 255);
    border-width: 5px !important;
    background-color: #ffffff00;
    border-top: #ffffff00;
    border-left: #ffffff00;
    border-right: #ffffff00;
}


.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color:#9F9F9F;
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}



.btn-return {
    position: absolute; 
    left: 20px; 
    top: 90px; 
    color: #ADA7A7;
}