.card-container {
    color: #696974;
    font-size: 12px;
    margin-bottom: 40px;

    .content-1 {
        background: #ECECEC 0% 0% no-repeat padding-box;
        opacity: 1;

        .item {
            text-align: center;

            label {
                margin-top: 10px;
                color: #181C33;
                font-size: 13px;
                font-weight: 600;
            }
        }

        .subtitle {
            color: #181C33;
            font-size: 13px;
            font-weight: 600;
        }
    }

    .imgFondo{
        background-image: url("../../../../../assets/images/bookfons/card.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 223px;
        width: 372px;
      
    }

    
    .btn-add {
        border-style: dashed;
        border-width: 1px;
        border-color: #1F72EA;
        color: #1F72EA;
        padding: 6px 30px;
        margin-top: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        margin-left: 15px;
        height: 25px;


    }
}

